.element_1
{

    width: 500px;
    height: 200px;
    margin: 20px;
    position: fixed;
    float: left;
    color: red;
    background: lightblue;
    border: 10px solid red;
}
.element_2
{
  position: fixed;
left: 1050px;
top: 100px;
width: 300px;
  margin: 7px;
  padding: 10px;
border-radius: 5px;
  border: 3px solid black;
  background: #bc0;
}
fieldset{
  width: 300px;
	margin: right;
}
